@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif !important;
}

body {
  background-color: #F8F9FA;
  color: #212529;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #E9ECEF;
}

::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6c757d;
}
